circle[class*='node-'], 
circle[class*='nodenbr-'] {
    opacity: 0.5;
}

text[class*='node-'], 
text[class*='nodenbr-'] {
    opacity: 0.5;
}

circle[class*='node-'].highlight, 
circle[class*='nodenbr-'].highlight {
    opacity: 1.0;
}
text[class*='node-'].highlight, 
text[class*='nodenbr-'].highlight {
    font-weight: bold;
    opacity: 1.0;
}


path[class*='edge-'] {
    opacity: 0.2;
}

path[class*='edge-'].highlight {
    opacity: 0.7;
}